<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN-bootstrap-start -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- CDN-bootstrap-end -->
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <!-- CDN-css -->
        <link rel="stylesheet" href="static/css/style.css">
        <!-- img logo -->
        <link rel="icon" href="static/images/logo.png">
        <title>ELMADARISS Optique</title>  
    </head>
     
{% block content %}
{% endblock content %}

<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 ">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
      <div class="row">
          <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
            <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">  Catégories</h5>
          <ul class="list-unstyled">
            <li>
              <h6>
                <a href="/LVF">Lunettes de vue pour femme</a>
              </h6>
            </li>
            <li>
              <h6>
                <a href="/LSH">Lunettes de vue pour homme</a>
              </h6>
            </li>
            <li>
              <h6>
                <a href="/LSF">Lunettes de soleil pour femme</a>
              </h6>
            </li>
            <li>
              <h6>
                <a href="/LSH">Lunettes de soleil pour homme</a>
              </h6>
            </li>
          </ul>
          
        </div>      
        <div>
          <script src="https://apps.elfsight.com/p/platform.js" defer></script>
          <div class="elfsight-app-27eab78d-ec00-4dd8-aab0-f79fae037ab0"></div>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Cordonnées</h5>
  
          <ul class="list-unstyled">
            <li>
              
              <h6>
                <svg width="2em" height="1em" viewBox="0 0 16 16"  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                Rue des écoles Imm Tamri<br> N'84 Bis 3-Inzegane</h6>
            </li>
            <li>
              <h6>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
                 Elmadariss_optique@gmail.com</h6>
            </li>
            <li>
              <h6>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                </svg>
                +212 5 28 33 80 17</h6>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
  
          <!--Facebook-->
           <a href="https://www.facebook.com/"> <img src="/static/images/icon/facebook.png" style="height: 2.5rem ; width: 2.5rem;" alt=""></a>         
           <a href="https://www.facebook.com/"> <img src="/static/images/icon/instagram.png" style="height: 2.5rem ; width: 4rem;" alt=""></a>         
           <a href="https://www.facebook.com/"> <img src="/static/images/icon/twitter.png" style="height: 2.5rem ; width: 2.5rem;" alt=""></a>          
  
        </div>
        <!-- Grid column -->
        
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
       ELMADARISS OPTIQUE
    </div> -->
    <!-- Copyright -->
    
  </footer>
  <!-- Footer -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>