{% extends "base.html" %}
{% block content %}
<body class="body" >
    <!-- start header -->
    <h2> <img src="/static/images/logo2.png" style="width: 18rem; height: 6rem; position: sticky;  "  alt="logo"> </h2>
<header class="LVH"  >
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg  navbar-light  bg-transparent " >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
           <ul class="nav bar-nav  ">
              <li class="nav-item "> 
                 <a class="nav-link text-light mr-5 "  href="/">
                    <svg  width="1em" height="1em"  viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                      <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    </svg>
                 </a>
                 
              </li>

              <li class="nav-item dropdown" >
                 <a class="nav-link dropdown-toggle  text-light mr-5 "  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Lunettes De Vue
                </a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/LVF">Pour Femme</a>
                  <a class="dropdown-item" href="/LVH">Pour Homme</a>
                </div>
              </li>
              <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle  text-light mr-5 "  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lunettes De Soleil
               </a>
               <div class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" href="/LSF">Pour Femme</a>
                 <a class="dropdown-item" href="/LSH">Pour Homme</a>
               </div>
             </li>
             <li>
              <a class="nav-link text-light mr-5 "  href="/contact">Contactez-nous
              </a>
             <li>
                 <a class="nav-link text-light mr-5 "  href="/localisation">Notre magasin
                 <svg width="2em" height="1em" viewBox="0 0 16 16"  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg></a>
                                    
             </li>
        
           </ul>
        </div>
  </nav>
    <!-- end navbar -->
</header>
<!-- end header -->

</body>
<h1 class="text-center pt-5 pb-5"> COLLECTION DE VUE POUR LUI</h1>
    <div class="container">
        <div class="row">
        <div class="col-lg-3 col-md-6 col-xd12">
            <img src="/static/images/LVH/img1.jpg" class="img-fluid image-responsive  img-thumbnail" alt="LVF" >
            <p><b>Lunettes de vue Gucci GG-0202-O :</b><br>
              <h3>199 DH</h3> <br> </p>
               <del>249 DH</del>  
        </div> 
        <div class="col-lg-3 col-md-6 col-xd12">
            <img src="/static/images/LVH/img2.jpg" class="img-fluid image-responsive  img-thumbnail" alt="LVF" >
            <p><b>Lunettes de Vue Rétro avec Verres:</b><br>
              <h3>149 DH</h3><br> </p>
              <del>199 DH</del> 
        </div> 
        <div class="col-lg-3 col-md-6 col-xd12">
            <img src="/static/images/LVH/img3.jpg" class="img-fluid image-responsive  img-thumbnail" alt="LVF" >
            <p><b> Lunettes de vue MARC JACOBS Gris:</b><br>
              <h3>199 DH</h3><br></p>
               <del>249 DH</del>  
        </div> 
        <div class="col-lg-3 col-md-6 col-xd12">
            <img src="/static/images/LVH/img4.jpg" class="img-fluid image-responsive  img-thumbnail" alt="LVF" >
            <p><b>Lunettes de vue Money EVIDENCE BILLIONNAIRE NOIR ECAILLE OR:</b><br>
              <h3>149 DH</h3> <br> </p>
              <del>199 DH</del> 
        </div> 
      </div>
        <div class="row">
        <div class="col-lg-3 col-md-6 col-xd12">
            <img src="/static/images/LVH/img5.jpg" class="img-fluid image-responsive  img-thumbnail" alt="LVF" >
            <p><b>Lunettes de vue Dita MIKRO BLACK ROSE GOLD:</b><br>
              <h3>149 DH</h3> <br> </p>
              <del>199 DH</del>  
        </div> 
        <div class="col-lg-3 col-md-6 col-xd12">
            <img src="/static/images/LVH/img6.jpg" class="img-fluid image-responsive  img-thumbnail" alt="LVF" >
            <p><b>Lunettes de vue SHINY SILVER-GREY :</b><br>
              <h3>149 DH</h3> <br></p>
              <del>199 DH</del>  
        </div> 
        <div class="col-lg-3 col-md-6 col-xd12">
            <img src="/static/images/LVH/img7.jpg" class="img-fluid image-responsive  img-thumbnail" alt="LVF" >
            <p><b> Lunettes de vue Oakley ALIAS AMBER BROWN TORTOISE:</b><br>
              <h3>149 DH</h3> <br> </p>
              <del>249 DH</del>  
        </div> 
        <div class="col-lg-3 col-md-6 col-xd12">
            <img src="/static/images/LVH/img8.jpg" class="img-fluid image-responsive  img-thumbnail" alt="LVF" >
            <p><b>Lunettes de Vue Oliver Peoples WILLMAN COCOBOLO:</b><br>
              <h3>149 DH</h3> <br></p>
              <del>199 DH</del>  
        </div> 
           
        </div>
    </div>

{% endblock content %}