<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN-bootstrap-start -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- CDN-bootstrap-end -->
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <!-- CDN-css -->
        <link rel="stylesheet" href="static/css/style.css">
        <!-- img logo -->
        <link rel="icon" href="static/images/logo.png">
        <title>Message de clients</title>  
</head>
<body>
    <h1 style="text-align: center;">Liste des clients</h1>
    <div class="container">
        {% for m in msg %}
        <div  class="justify-content-center" style="border: 2px solid black; text-align:justify; margin-top: 40px; width: 50rem; height: 15rem;margin-left: 9rem; ">
            <h5>{{m.name}} </h5>
            <h5>{{m.email}} </h5>
            <h5>{{m.phone}} </h5>
            <h5> {{m.product}} </h5>
            <h5> {{m.messagee}} </h5>
        </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   
</body>
</html>